body{
 background-color:white;
 color:black;
 width:100%;
 font-family:arial;
 margin:0 auto;
}
.header{
   width:90%;
   margin:auto;
   height:120px;
   line-height:120px;
   background:#f10;
   color:#fff;
}
.jarak{
 padding:0 2pc;
}
.menu{
  background-color:417aa8;
  width:90%;
  margin:auto;
  position:relative;
  height:50px;
  line-height:50px;
  paddding:auto;
}
