body{
 background-color:white;
 color:black;
 width:100%;
 font-family:arial;
 margin:0 auto;
}
.header{
   width:90%;
   margin:auto;
   height:120px;
   line-height:120px;
   background:#f10;
   color:#fff;
}
.jarak{
 padding:0 2pc;
}
.menu{
  background-color:417aa8;
  width:90%;
  margin:auto;
  position:relative;
  height:50px;
  line-height:50px;
  paddding:auto;
}

.menu ul li a:hover {
   background-color:4b88bb;
   display:block;
}

.menu ul {
 list-style:none;
}
.menu ul li a {
  float:left;
  width:70px:
  display:block;
  text-align:center;
  color:#fff;
  text-decoration:none;
}
